{% extends 'form_div_layout.html.twig' %}

{# Labels #}

{% block form_label %}
{% spaceless %}
    {% set label_attr = attr|merge({'for': id}) %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if form_type is defined and form_type == 'horizontal' %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans }}</label>
{% endspaceless %}
{% endblock form_label %}

{% block checkbox_label %}
{% spaceless %}
    {% set label_attr = attr|merge({'for': id}) %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' checkbox')|trim}) %}
    {% if attr.inline is defined and attr.inline %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' inline')|trim}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name %}
    {% endif %}
{% endspaceless %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ form_widget(form) }} {{ label|trans }}
    </label>
{% endblock checkbox_label %}

{# Rows #}

{% block checkbox_row %}
{% spaceless %}
    {{ form_label(form) }}
    {{ form_errors(form) }}
{% endspaceless %}
{% endblock checkbox_row %}

